<GridLayout rows="*, 100">
  <AbsoluteLayout
    class="timer-wrapper"
    horizontalAlignment="center"
    verticalAlignment="bottom"
    row="0"
    col="0"
  >
    <StackLayout class="timer">
      <Label class="timer-label" [text]="timerValue | prettifyMS" textAlignment="center"></Label>
    </StackLayout>
  </AbsoluteLayout>
  <FAB
    row="1"
    col="0"
    horizontalAlignment="center"
    text="Stop"
    rippleColor="#f1f1f1"
    class="fab-button warning"
    (tap)="stop()"
  ></FAB>
</GridLayout>
