@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

.bar-label {
  font-size: 30pt;
}

.label {
  font-size: 14pt;
}

.fab-button {
  height: 55;
  width: 55;
  margin: 15;
  background-color: floralwhite;
  horizontal-align: right;
  vertical-align: bottom;
  font-size: 16;
  color: darkgray;
}