@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

.btn {
  background-color: black;
  color: white;
}

.btn-primary {
}

.bar-label {
  font-size: 30pt;
}

.label {
  font-size: 15pt;
}

.fab-button {
  height: 60;
  width: 60;
  margin: 15;
  background-color: black;
  vertical-align: bottom;
  font-size: 16;
  color: darkgray;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dialogOpen .content {
  opacity: 0;
}
.dialogOpen .dialog-wrapper {
  visibility: visible;
}
.dialog-wrapper {
  visibility: collapse;
}
.dialog {
  /* border-width: 1 0 1 0; */
  /* border-color: black; */
  width: 80%;
  margin-top: 10;
}
