@import "@nativescript/theme/css/core.css";
@import "@nativescript/theme/css/default.css";

.label {
  font-size: 16pt;
  margin: 0;
  padding: 0;
}

.label-workplace {
  color: grey;
}

.timer-label {
  font-size: 20pt;
  font-weight: bold;
}

.bar-label {
  font-size: 20pt;
  color: grey;
}

.fab-button {
  height: 60;
  width: 60;
  margin: 15;
  vertical-align: bottom;
  font-size: 16;
  background-color: black;
  color: darkgrey;
}

.nav-button {
  height: 40;
  width: 90;
  border-radius: 2px;
  font-size: 16;
  background-color: gray;
  color: black;
}

.dialog {
  width: 80%;
  margin-top: 10;
}

.dialog TextField {
  border-bottom-width: 1;
  border-bottom-color: transparent;
}