<ActionBar>
  <Label class="bar-label" text="😇" textAlignment="center"> </Label>
</ActionBar>

<GridLayout>
  <ListView [items]="todoItems">
    <ng-template let-item="item">
      <StackLayout
        (swipe)="deleteTodo($event, item.key)"
        (tap)="toggleTodo(item.key)"
      >
        <Label
          class="label"
          textWrap="false"
          [text]="item.title"
          textAlignment="center"
          textDecoration="{{ item.completed ? 'line-through' : '' }}"
        >
        </Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>

<FAB text="+" rippleColor="#f1f1f1" class="fab-button"></FAB>
