<app-actionbar></app-actionbar>
<GridLayout *ngIf="!dialogOpen" rows="*, 100" class="content">
  <ListView [items]="todoItems" row="0" col="0">
    <ng-template let-item="item">
      <StackLayout
        (swipe)="deleteTodo(item.key)"
        (tap)="toggleTodo(item.key)"
        (longPress)="editTodo(item.key)"
      >
        <Label textWrap="false" textAlignment="center" class="label">
          <FormattedString>
            <span
              [text]="item.title"
              textDecoration="{{ item.completed ? 'line-through' : '' }}"
            ></span>
          </FormattedString>
        </Label>
      </StackLayout>
    </ng-template>
  </ListView>
  <FAB
    row="1"
    col="0"
    horizontalAlignment="left"
    text="Clr"
    rippleColor="#f1f1f1"
    class="fab-button warning"
    (doubleTap)="clearAll()"
  ></FAB>
  <FAB
    row="1"
    col="1"
    horizontalAlignment="right"
    text="➕"
    rippleColor="#f1f1f1"
    class="fab-button primary"
    (tap)="showDialog()"
  ></FAB>
</GridLayout>

<app-modal
  *ngIf="dialogOpen"
  [model]="todo"
  (onCancel)="closeDialog()"
  (onSubmit)="addOrUpdate($event)"
></app-modal>
